html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  line-height: 1;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: grid;
  width: 1920px;
  height: 1080px;
  grid-template-columns: 48% 52%;
  grid-template-rows: 7% 93%;
}
.container .header-div {
  grid-area: 1/1/2/2;
  position: relative;
  background-color: #7025FB;
}
.container .header-div :nth-child(1) {
  position: absolute;
  left: 6.5%;
  top: 36.2%;
}
.container .header-div :nth-child(2) {
  position: absolute;
  left: 9.7%;
  top: 35.9%;
}
.container .img-div {
  grid-area: 2/1/3/2;
  overflow-y: hidden;
}
.container .img-div img {
  width: 100%;
  height: 100%;
}
.container .aside-div {
  grid-area: 1/2/3/3;
}

.HeaderText {
  height: 7%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(185, 180, 195, 0.3019607843);
}
.HeaderText span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  position: relative;
  top: 35%;
  left: 5%;
}

.aside-div .step-one {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  gap: 10px;
  border: 1px solid #E5E6E8;
  background-color: #FFFFFF;
  position: relative;
  top: 10%;
  left: 12%;
}
.aside-div .step-one span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #212529;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aside-div .line {
  width: 174px;
  height: 0px;
  border: 1px solid rgba(185, 180, 196, 0.3);
  position: relative;
  top: 8%;
  left: 16.1%;
}
.aside-div .step-two {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  gap: 10px;
  border: 1px solid #E5E6E8;
  position: relative;
  top: 6.1%;
  left: 33%;
  background-color: #F5F5F5;
}
.aside-div .step-two span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #95939A;
}
.aside-div .personal {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: absolute;
  top: 21.5%;
  left: 51%;
}
.aside-div .chess {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: absolute;
  top: 21.5%;
  left: 63%;
}
.aside-div .info {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  position: absolute;
  top: 30%;
  left: 51%;
}
.aside-div .basic {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #95939A;
  position: absolute;
  top: 34.5%;
  left: 51%;
}
.aside-div form {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 60px;
  width: 774px;
}
.aside-div form input {
  width: 743px;
  height: 30px;
  border: none;
  border-bottom: 1px solid inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  outline: none;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #212529;
}
.aside-div form input:required:after {
  content: "*";
  color: red;
}
.aside-div .back {
  width: 93px;
  height: 53px;
  gap: 10px;
  border: 1px solid #212529;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-top: 110px;
  margin-left: 60px;
}
.aside-div .back span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #212529;
}
.aside-div .back:hover {
  border: 1px solid rgba(194, 165, 249, 0.8);
  background-color: #F5F5F5;
  cursor: pointer;
}
.aside-div .next {
  width: 128px;
  height: 53px;
  gap: 10px;
  background-color: #212529;
  border-radius: 8px;
  margin-left: 520px;
}
.aside-div .next span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  position: relative;
  bottom: 7%;
  right: 5%;
}
.aside-div .next:hover {
  border: 4px solid rgba(194, 165, 249, 0.8);
  cursor: pointer;
}

/*# sourceMappingURL=index-next.css.map */
